body { padding-top: 60px; }
.first-bar { padding-top: 10px; padding-bottom: 10px; }
.first-bar .welcome{margin-right: 200px;}
.second-bar { height: 90px; background-color: white; border: 0px; }
#second-bar form { line-height: 60px; margin-left: 150px; }
#second-bar form input { width: 400px; }
#second-bar button { margin-left: 10px; margin-top: 11px; }
.navbar-nav > li { margin-left: 40px }
.fouth-bar .navbar-header { width: 200px; }
.navbar-header > p:first-of-type { margin-top: 16px; font-size: 16px; font-weight: bold; }
.footer { margin-top: -20px; }
.footer ul { color: #ccc; margin: 30px 0px; }
.footer ul > li:first-child { color: white; }
.footer img { margin: 30px auto; }
.container-fluid .row .col-md-2 .leftpart { margin-top: 0px; margin-right: 10px; border: 1px solid #e4e4e4; }
.accountclass { border-bottom: 1px solid #0099ff; text-align: center; }
.infoclass { padding: 8px 0px 10px 20px; }
.infoclass li { margin-top: 6px; margin-bottom: 6px; }
.tablehead { background-color: #f3f3f3; }
.divider { margin-top: 0px; border-color: #434343; }
.row .word-list { text-align: center; color: #ccc; font-size: 12px; margin-bottom: 10px; }
.medium { margin-left: 50px; margin-right: :50px; margin-bottom: 50px; }
.dropclass { margin-left: 30px; }
.inputsize { width: 400px; }
.row { margin-top: 30px; margin-bottom: 50px; }
.table { width: 90%; }
.product-list-table { margin-left: -25px; margin-right: 20px; border: 1px solid #ddd; }
.product-list-table th { text-align: center; height: 50px; vertical-align: middle !important; }
.product-list-table td { text-align: center; vertical-align: middle !important; }
.selectclass { width: 60px; }
.agentproduct { width: 180px; }
.quanxuan1 { height: 80px; vertical-align: middle !important; margin-top: 19px; }
.quanxuan2 { height: 80px; vertical-align: middle !important; margin-top: 28px; }
.quanxuan3 { height: 80px; vertical-align: middle !important; }
.selectallclass { margin-left: 30px; vertical-align: middle !important; }
.hrclass { margin-left: -38px; margin-right: 100px }
.pitem-info { vertical-align: middle !important; text-align: right }
.first-bar .navbar-brand{padding-top: 0px;}



/*
下面开始   我要申请页面的CSS  page-wantproxy.html
 */
.container-fluid .row .col-md-10 .row { margin-left: 50px; }
.searchsize { width: 135px; }
.container-fluid .row .col-md-10 .row .col-md-5 .form-group p { margin-top: 8px; }
.container-fluid .row .col-md-10 .row { margin-top: 20px; margin-bottom: 20px; }
.container-fluid .row .col-md-10 .row .col-md-4 .input-group-btn .timesearchbutton { margin-top: -16px; margin-left: 78px; background-color: blue }
.condition-table { width: 80%; border: 1px solid #e4e4e4; margin-top: 25px; margin-left: 45px; }
.condition-title { text-align: center; vertical-align: middle !important; background-color: #f2f2f2; font-weight: normal; line-height: 2.5; color: #666; width: 160px; }
tr td p { margin-left: 20px;}
.container-fluid .row .col-md-10 .condition-table tbody tr td p{padding-top: 8px;}
.condition-table2 { width: 80%; border: 1px solid #e4e4e4; margin-top: -20px; margin-left: 45px; }
.condition-title2 { text-align: center; vertical-align: middle !important; background-color: #f2f2f2; font-weight: normal; line-height: 2.5; color: #666; border-right: 1px solid #e4e4e4; width: 280px; height:50px;}


.configmarginr { margin-right: 165px; border: 1px solid #e4e4e4; }
.configmarginr .col-md-4 { border-right: 1px solid #e4e4e4; }
.container-fluid .row .col-md-10 .configmarginr { margin-left: 45px; margin-top: -20px; }
.config-size { width: 160px; height: 190px; margin-left: 40px; margin-bottom: 15px; margin-top: 15px; }
.checkbox label { padding-left: 40px; }
.qudaosize { width: 100px; }
.qudaosize input { margin-top: -5px; }
.qudaosize2 { width: 80px; }
.qudaosize2 input { margin-top: -5px; }
.keshisize { width: 100px; padding-top: 8px; }
.keshisize input { margin-top: -5px; }
.keshisize2 { width: 160px; padding-top: 8px; }
.keshisize2 input { margin-top: -5px; }
.qitakeshi-size { padding-top: 8px; width: 265px; height: 38px; }
.qitakeshi-size input { margin-left: -10px; }
.neike-marginleft { margin-left: 10px; }
.type1-dropdown { width: 200px; margin-left: 20px; float: left; margin-top: 8px; margin-bottom: 8px; }
.type2-dropdown { float: left; width: 200px; margin-left: 0px; margin-top: 8px; margin-bottom: 8px; }
.info { margin: 13px; text-align: left; margin-left: 25px; }
.info select { border: 1px #993300 solid; background: #FFFFFF; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px
color:#333; background-color: #fff; border-color: #ccc; }
#s_province { border-radius: 4px }
#s_city { border-radius: 4px }
#s_county { border-radius: 4px }
.yulan-position { margin-left: 350px; margin-top: 45px; background-color: #66b3ff; }

/*我的关注页面*/
.product-list-table-myconcern { margin-left: -10px; margin-right: 20px; border: 1px solid #ddd; }
.product-list-table-myconcern th { text-align: center; height: 50px; vertical-align: middle !important; }
.product-list-table-myconcern td { text-align: center; vertical-align: middle !important; height: 100px; }
.detailclass { width: 100px; }
.productimg { width: 120px; height: 80px; }
.productimgsize { width: 80px; height: 80px; }
.productname { width: 260px; }
.productbrand { width: 150px; }
.productconfig { width: 150px; }
.seetime { width: 150px; }
.selectallclass .allchoose-position { margin-top: -5px; }

/*
我的接收信息
 */
.hrclass2 { margin-left: -38px; margin-right: 100px }
.receive-list-table { margin-left: -25px; margin-right: 20px }
.receive-list-table th { text-align: center; height: 50px; vertical-align: middle !important; }
.receive-list-table td { text-align: center; vertical-align: middle !important; }

.reciv_type { width: 80px; }
.reciv_comp_width { width: 150px; }
.reciv_product_width { width: 180px; }
.reciv_depart_width{ width:75px; }
.reciv_area_width{width:70px;}
.recev-name { width: 200px; }
.recev-product { width: 200px; }
.recev-area { }
.recev-hospital { }
.recev-depart { }
.recev-time { }

/*我要采购页面  hospital1-wantbuy.html*/
tr td input { margin-left: 20px; }
.expiredate-size { width: 153px; }
.button_position2 { margin-top: 5px; }
.button_position { margin-top: 4px; }
.caigouinput_size { height: 24px; width: 185px; }
.hos-type1-dropdown { width: 200px; margin-left: 20px; float: left; margin-top: 8px; margin-bottom: 8px; }
.hos-type2-dropdown { float: left; width: 200px; margin-left: 0px; margin-top: 8px; margin-bottom: 8px; }
.hos-type3-dropdown { float: left; width: 200px; margin-left: -75px; margin-top: 8px; margin-bottom: 8px; }
.hos-type1-dropdown-input { margin-left: 0px; margin-top: 5px; }
.hos-type1-dropdown-input2 { margin-left: 0px; margin-top: 5px; width: 110px; }
.info2 { margin: 13px; text-align: left; margin-left: 21px; }
.info2 select { border: 1px #993300 solid; background: #FFFFFF; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px
color:#333; background-color: #fff; border-color: #ccc; }
#s_province { border-radius: 4px }
#s_city { border-radius: 4px }
#s_county { border-radius: 4px }
.jiaohuo-position { width: 420px; }

/*
page0-2myinfo-csoperson.html
 */
.info { margin: 13px; text-align: left; margin-left: 21px; }
.info select { border: 1px #993300 solid; background: #FFFFFF; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px
color:#333; background-color: #fff; border-color: #ccc; }
#s_province { border-radius: 4px }
#s_city { border-radius: 4px }
#s_county { border-radius: 4px }
.leftright_part { margin-right: 165px; border: 1px solid #e4e4e4; width: 842px; }
.leftright_part .part1 { border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 300px; }
.leftright_part .part2 { float: left; width: 270px; height: 300px; }
.leftright_part .part3 { float: left; width: 140px; height: 300px; }
.leftright_part .part4 { float: left; width: 270px; height: 300px; }
.leftright_part .part5 { border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 100px; }
.leftright_part .part6 { width: 340px; border-right: 1px solid #e4e4e4; float: left; height: 100px; }
.leftright_part .part7 { width: 340px; float: left; height: 100px; }
.leftright_part .part6 .part6input { margin-left: 75px; margin-top: 15px; width: 178px; height: 24px; }
.leftright_part .part7 .part6input { margin-left: 75px; margin-top: 15px; width: 178px; height: 24px; }
.leftright_part .part6 .part6button { margin-top: 12px; margin-left: 82px; }
.leftright_part .part7 .part6button { margin-top: 12px; margin-left: 82px; }
.container-fluid .row .col-md-10 .leftright_part { margin-left: 45px; margin-top: -20px; }
.condition-title { text-align: center; vertical-align: middle !important; background-color: #f2f2f2; font-weight: normal; line-height: 2.5; color: #666; width: 160px; }
.select1class { margin-left: 30px; margin-right: 30px; width: 200px; height: 245px; margin-top: 30px; overflow-x: scroll; }
.container-fluid .row .col-md-10 .leftright_part .part2 .select1class { height: 245px; }
.container-fluid .row .col-md-10 .leftright_part .part4 .select1class { height: 245px; }
.rightchoose { width: 82px; margin-top: 60px; margin-left: 25px; }
.leftchoose { width: 82px; margin-top: 40px; margin-left: 25px; }
.xiugai-position { margin-left: 655px; margin-top: 35px; background-color: #66b3ff; width: 85px; }

/*销售代理专员  上传身份证件正反面 */
.leftright_part .part_shenfen { border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 320px; }
.condition-title { text-align: center; vertical-align: middle !important; background-color: #f2f2f2; font-weight: normal; line-height: 2.5; color: #666; width: 160px; }
.zhengjian-size { width: 680px; float: left; }

.zhengjian-size .upload_p { font-size: 15px; margin-left: 25px; float: left; }
.yulan_p { margin-left: 30px; }
.zhengjian-size img { width: 490px; height: 190px; margin-left: 70px; }
.leftright_part .part_zhizhao { border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 500px; }
.condition-title { text-align: center; vertical-align: middle !important; background-color: #f2f2f2; font-weight: normal; line-height: 2.5; color: #666; width: 160px; }
.zhizhao-size { width: 680px; float: left; }

.zhizhao-size .upload_p { font-size: 15px; margin-left: 25px; float: left; }
.yulan_p { margin-left: 30px; }
.zhizhao-size img { width: 490px; height: 380px; margin-left: 70px; }

/*
page0-22myinfo-csocompany.html
 */
.company_name_size { width: 500px; }
.leftright_part .part6 .part7button { margin-top: 12px; margin-left: 88px; }
.leftright_part .part7 .part8button { margin-top: 12px; margin-left: 60px; }
.xiugai-position2 { margin-left: 435px; margin-top: 35px; background-color: #66b3ff; width: 85px; }

/*所有的input   变成圆角*/
input { border: 1px solid #ccc; border-radius: 4px; height: 34px; }


/*
问小安
 */
.totalclass{
	border:2px solid #cccccf;
	border-width: 4px 4px 6px 4px;
	width:600px;
	height:350px;
	margin-left:100px;
	margin-top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	/*border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;*/
}
.totalclass2{
	border:1px solid #cccccf;
	background-color: #cccccf;
	width:600px;
	height:14px;
	margin-left:100px;
}
.imgface{
	margin-left: 20px;
	width:37px;
	height:30px;
	margin-top:-7px;
}
.totalclass3{
	border:2px solid #cccccf;
	border-width: 10px 4px 4px 4px;
	width:600px;
	height:160px;
	margin-left:100px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
}
.consult_input_size{
	width: 593px;
    height: 100px;
    border-bottom: 0px;
    float:left;
}
.totalclass3 .consult_button_position2{
    margin-top: 3px;
    margin-left: 435px;
    background-color: #cccccf;
}

.totalclass3 .consult_button_position{
    margin-top: -55px;
    margin-left: 520px;
    background-color: #cccccf;
}




/*
PublishExtensionInfo.html
 */
.hos-pisition1{
 	width:255px;
 	float:left;
 	margin-left:-10px;
}

.hos-pisition2{
 	width:130px;
 	float:left
}
.container-fluid .row .col-md-10 .condition-table tbody tr td  .hos-pisition3{
	width:200px;
	float:left
}

.hos-pisition1 .select1class { 
	height: 245px;
	margin-bottom:20px; 
}
.hos-pisition3 .select1class { 
	height: 245px;
	margin-bottom:20px; 
}
.ExtensionExperience-size{
	width:62px;
}
.Profession-size{
	width:420px;
	margin-top: 5px;
}
.condition-title .default-info{
    margin-left: 16px;
    float: left;
    margin-top: 2px;
}
.Contact-size{
	width:200px;
	margin-left:50px;
	margin-top: 5px;
}
.Contact-size2{
	width:200px;
	margin-left:37px;
	margin-top: 5px;
}
.Contact-size3{
	width:200px;
	margin-left:52px;
	margin-top: 5px;
}



/*
2017-8-15补充添加 医疗机构部分
 */
.willbuyedpro { width: 315px; }
.colorclass{ background-color: #f3f3f3 }
.trheight{height:50px;}
.conferenceenrollwidth{width:200px;}
.conferencecontent{margin-left: 20px;width: 620px;}
.departwidth{width:150px;}


/*
2017-8-15补充添加 CSO个人部分
 */
tr td .default-info{
    margin-left: 16px;
    float: left;
    margin-top: 2px;
}


/*
2017-8-20补充添加 CSO部分  我要推广页面
.leftright_part0 { margin-right: 165px; border: 1px solid #e4e4e4; width: 842px; }
 */
.container-fluid .row .col-md-10 .leftright_part0 { margin-left: 45px; margin-top: 25px; }
.leftright_part0 { margin-right: 165px; border: 1px solid #e4e4e4; width: 842px; }
.leftright_part0 .part11 { border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 300px; }
.leftright_part0 .part22 { float: left; width: 270px; height: 300px; }
.leftright_part0 .part33 { float: left; width: 140px; height: 300px; }
.leftright_part0 .part44 { float: left; width: 270px; height: 300px; }
.part22 .select1class { margin-left: 30px; margin-right: 30px; width: 200px; height: 245px; margin-top: 30px; overflow-x: scroll; }
.part44 .select1class { margin-left: 30px; margin-right: 30px; width: 200px; height: 245px; margin-top: 30px; overflow-x: scroll; }

.condition-table0 { width: 80%; border: 1px solid #e4e4e4; margin-top: -21px; margin-left: 45px; }
.publishinputwidth{width:300px;}

.addchoose { width: 82px; margin-top: 37px; margin-left: 25px; }


/*
2017-8-22
 */
.employdescript{
	margin-left: 20px;
	width:620px;
}
.areaposition{
	margin-top:1px;
	margin-left: 3px;
}
.findposition{
	margin-left: 156px;
    width: 76px;
    background-color: #f3f3f3;
}

.searchsize2 { width: 170px; }


/*
2017-8-23
 */
.rightchoosecp { width: 82px; margin-top: 96px; margin-left: 25px; }


<<<<<<< HEAD
=======

>>>>>>> zhu
/*
2017-8-24 file upload
 */
form .fileuploadclass{
border: 1px solid; height: 35px;
margin-left: 412px;
margin-top: -128px;
width: 90px;
border-color: #ccc;
}



/*
2017-8-25 SupplierNeedInfo
 */
.SupplierNeedclass1{
	width:100px;
}
.SupplierNeedclass2{
	width:100px;
}
.SupplierNeedclass3{
	width:105px;
}
.SupplierNeedclass4{
	width:150px;
}
.SupplierNeedclass5{
	width:80px;
}
.SupplierNeedclass7{
	width:80px;
}
.SupplierNeedclass8{
	width:100px;
}
.SupplierNeedclass9{
	width:80px;
}



.csocompanysupplier1{
	width:100px;
}
.csocompanysupplier2{
	width:120px;
}
.csocompanysupplier3{
	width:160px;
}

.csocompanysupplier6{
	width:120px;
}
.csocompanysupplier7{
	width:100px;
}


/*
2017-8-25 csocompany EmployFeedbackDetail.html
 */

.leftright_part .part_zhizhao2 { border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 300px; }

.zhizhao-size2 { width: 680px; float: left; }

.resumeposition{
	margin-top: 26px;
    margin-left: 180px;
}


.leftmove{
	margin-left: -45px;
}



/*
2017-8-26
 */
.distributeleft{
	border-right: 1px solid #e4e4e4; float: left; width: 160px; height: 145px;text-align: center; vertical-align: middle !important; background-color: #f2f2f2; font-weight: normal; line-height: 2.5; color: #666; width: 160px;
}
.distributeright{
	float: left;width: 270px;height: 145px;
}



/*2017-8-29 师弟上传头像部分*/
/*上传头像*/
.con4{
     width: 300px;
     height: auto;
     overflow: hidden;
     margin: 20px auto;
     color: #FFFFFF;
}
.con4 .btn{
     width: 100%;
     height: 40px;
     line-height: 40px;
     text-align: center;
     background: #d8b49c;
     display: block;
     font-size: 16px;
     border-radius: 5px;
}
.con4 .upload{
     float: left;
     position: relative;
}
.con4 .upload_pic{
     display: block;
     width: 100%;
     height: 40px;
     position: absolute;
     left: 0;
     top: 0;
     opacity: 0;
     border-radius: 5px;
}
#cvs{
	border: 1px solid #000;
	margin:20px 0 20px 50px;
}




/*
关于我的资料页面乱码问题
 */

.zhengjian-size .wenjian { width: 250px; 
	height: 23px; border: 0px; margin-top: 30px; 
}

.zhengjian-size .fileuploadclass{
border: 1px solid; height: 35px;
margin-left: 412px;
margin-top: -128px;
width: 90px;
border-color: #ccc;
}


.zhizhao-size .wenjian { 
	width: 250px; height: 23px; 
	border: 0px; margin-top: 30px; 
}

.zhizhao-size .fileuploadclass{
border: 1px solid; height: 35px;
margin-left: 412px;
margin-top: -128px;
width: 90px;
border-color: #ccc;
}