body { padding-top: 60px }
.first-bar { background-color: white }
.first-bar{border: 0px;}/*老师非觉得顶部navbar去掉下边框好看，无语了*/
.second-bar { height: 90px; background-color: white; border: 0px }
#second-bar form { line-height: 60px; margin-left: 150px }
#second-bar form input { width: 400px }
#second-bar button { margin-left: 10px; margin-top: 11px }
.navbar-nav > li { margin-left: 40px }
.third-bar { margin-top: -20px; border: 0px; font-size: 18px; font-weight: bold }
#third-bar ul li > a { color: black }
.carousel-caption p { font-size: 30px }
.carousel { margin-top: -20px; background-color: #000; margin-bottom: 60px }
.container-index .col-md-2 .thumbnail .caption p a { text-decoration: none }
.thumbnail { background-color: #FAFAFA }
.thumbnail .caption { padding: 0px }
.caption p { font-size: 16px; text-align: center }
.container .format { font-size: 20px; color: #09F }
.col-md-8 .mb { margin-bottom: 15px }
.fouth-bar .navbar-header { width: 200px }
.navbar-header > p:first-of-type { margin-top: 16px; font-size: 16px; font-weight: bold }
.footer { margin-top: -20px }
.footer ul { color: #ccc; margin: 30px 0px }
.footer ul > li:first-child { color: white }
.footer img { margin: 30px auto }
.divider { margin-top: 0px; border-color: #434343 }
.row .word-list { text-align: center; color: #ccc; font-size: 12px; margin-bottom: 10px }
.register { width: 310px }
.register .modal-body { padding-bottom: 0px }
.register h4 { margin: 10px }
.first-bar .navbar-brand{padding-top: 0px;}

/*首页的找产品二级菜单*/
.active-menu { position: relative; display: none; }
.dropdown-menu-two-level { position: absolute; background-color: #f3f3f3; z-index: 1000; float: left; min-width: 120px; padding: 5px 0; list-style: none; border: 2px solid #2476e2; }
.dropdown-menu-two-level li { text-align: center; cursor: pointer; font-weight: normal; margin: 10px auto; display: block; height: 35px; }
.dropdown-menu-two-level li a { display: block; padding: 3px 0px; text-decoration: none; border-bottom: 2px solid #f3f3f3; border-top: 2px solid #f3f3f3; line-height: 20px; position: absolute; width: 116px; }
.maintainHover { background-color: white; border-right: 2px solid white; z-index: 1000; }
.popover-menu { position: absolute; top: 0; left: 0; z-index: 999; display: none; width: 800px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-border-top-left-radius: 0px; -webkit-border-bottom-left-radius: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; overflow: hidden; padding: 1px 1px 1px 15px; text-align: left; white-space: normal; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); padding-top: 30px; padding-left: 15px; }
.popover-menu dt { float: left; }
.popover-menu dt a { color: #09f; font-weight: normal; font-size: 16px; text-decoration: none; font-family: Arial, 宋体, 微软雅黑, Helvetica, sans-serif; }
.popover-menu dl { border-bottom: 1px dotted #e4e4e4; padding-bottom: 12px; width: 750px; }
.popover-menu dl dd { float: right; width: 600px; margin-right: 60px; }
.popover-menu dl dd a { text-decoration: none; display: inline-block; border-right: 1px solid #e4e4e4; padding: 0px 10px; font-family: Arial, 宋体, 微软雅黑, Helvetica, sans-serif; font-weight: normal; font-size: 15px; }
.popover-menu dl dd a em { font-style: normal; color: #f60; }
.popover-menu dl dd a:last-child { border-right: 1px solid white; padding: 0px 10px; }
#third-bar .popover-menu dl dd a:hover { color: #f60; }

/*登录页面的css*/
.container-login {background: url(../../recourse/Image/login-background.jpg);background-size: 100% 100%; width: 100%; height: 500px; }
.container-login .login { border-radius: 5px; padding: 15px 10px 10px 10px; margin-left: 70%; margin-top: 10%; width: 300px; height: 300px; background-color: white; }
.captcha .col-md-4:first-child { padding: 0px; }
.captcha .col-md-4:nth-child(2) { padding: 0px 0px 0px 5px; }
.captcha .col-md-3 p { margin-top: 10px; }
/*代理列表的css*/
.agency { border: 1px solid #ddd; padding-top: 10px; margin-bottom: 30px; border-bottom: 0px; }
.agency .row { border-bottom: 1px solid #ddd; margin-top: 10px; }
.agency  ul { list-style: none; padding-left: 0px; }
.agency  ul li { display: inline-block; margin-left: 5px; padding: 2px; }
.agency  ul li:hover { cursor: pointer; color: blue; }
.agency  ul .click { background-color: #fb8300; color: white; }
.agency  ul .click:hover { color: white; }
.agency .col-md-1 { padding-right: 0px; }
.agency .col-md-8 { padding-left: 0px; }
.agency .area .col-md-8 ul { height: 24px; overflow: hidden; }
.agency  .more { border: 1px solid #ddd; width: 60px; display: inline-block; padding-left: 4px; cursor: pointer; }
.agency  .more i { background-image: url(../../recourse/Image/down_arrow.png); width: 17px; height: 16px; position: absolute; left: 55px; top: 2px }
.agency  .more i { transition: all 0.5s ease-in-out; }
.agency  .more:hover i { transform: rotate(180deg); transform: rotate(180deg); -ms-transform: rotate(180deg); 	/* IE 9 */ -moz-transform: rotate(180deg); 	/* Firefox */ -webkit-transform: rotate(180deg); /* Safari 和 Chrome */ -o-transform: rotate(180deg); }
.agency .area .more:hover { color: #fb8300; }
.agency .keshi .col-md-8 ul { height: 24px; overflow: hidden; }
.agency-list .row .col-md-4 nav p { display: inline-block; position: relative; top: -32px; left: 10px; }
.agency-list .row table thead { background-color: #f3f3f3; }
.agency-list{padding-left: 0px;}
/*推广列表的css*/
.generalize { border: 1px solid #ddd; padding-top: 10px; margin-bottom: 30px; border-bottom: 0px; }
.generalize .row { border-bottom: 1px solid #ddd; margin-top: 10px; }
.generalize  ul { list-style: none; padding-left: 0px; }
.generalize  ul li { display: inline-block; margin-left: 5px; padding: 2px; }
.generalize  ul li:hover { cursor: pointer; color: blue; }
.generalize  ul .click { background-color: #fb8300; color: white; }
.generalize  ul .click:hover { color: white; }
.generalize .col-md-1 { padding-right: 0px; }
.generalize .col-md-8 { padding-left: 0px; }
.generalize .area .col-md-8 ul { height: 24px; overflow: hidden; }
.generalize  .more { border: 1px solid #ddd; width: 60px; display: inline-block; padding-left: 4px; cursor: pointer; }
.generalize  .more i { background-image: url(../../recourse/Image/down_arrow.png); width: 17px; height: 16px; position: absolute; left: 55px; top: 2px }
.generalize  .more i { transition: all 0.5s ease-in-out; }
.generalize  .more:hover i { transform: rotate(180deg); transform: rotate(180deg); -ms-transform: rotate(180deg); 	/* IE 9 */ -moz-transform: rotate(180deg); 	/* Firefox */ -webkit-transform: rotate(180deg); /* Safari 和 Chrome */ -o-transform: rotate(180deg); }
.generalize .area .more:hover { color: #fb8300; }
.generalize .keshi .col-md-8 ul { height: 24px; overflow: hidden; }
.generalize-product-list { border: 1px solid #ddd; margin-bottom: 30px; }
.generalize-product-list .row { margin-top: 10px; margin-left: 0px; border-bottom: 1px solid #ddd; }
.generalize-product-list .row:last-child { border-bottom: 0px; }
.generalize-product-list .row .list-inline li { padding-bottom: 5px; }
.generalize-product-list .row .list-inline li:nth-of-type(odd) { width: 400px; }
.generalize-product-list .row .col-md-4 nav p { display: inline-block; position: relative; top: -32px; left: 10px; }
/*采购列表的css*/
.procurement { border: 1px solid #ddd; padding-top: 10px; margin-bottom: 30px; border-bottom: 0px; }
.procurement .row { border-bottom: 1px solid #ddd; margin-top: 10px; }
.procurement  ul { list-style: none; padding-left: 0px; }
.procurement  ul li { display: inline-block; margin-left: 5px; padding: 2px; }
.procurement  ul li:hover { cursor: pointer; color: blue; }
.procurement  ul .click { background-color: #fb8300; color: white; }
.procurement  ul .click:hover { color: white; }
.procurement .col-md-1 { padding-right: 0px; }
.procurement .col-md-8 { padding-left: 0px; }
.procurement .area .col-md-8 ul { height: 24px; overflow: hidden; }
.procurement  .more { border: 1px solid #ddd; width: 60px; display: inline-block; padding-left: 4px; cursor: pointer; }
.procurement  .more i { background-image: url(../../recourse/Image/down_arrow.png); width: 17px; height: 16px; position: absolute; left: 55px; top: 2px }
.procurement  .more i { transition: all 0.5s ease-in-out; }
.procurement  .more:hover i { transform: rotate(180deg); transform: rotate(180deg); -ms-transform: rotate(180deg); 	/* IE 9 */ -moz-transform: rotate(180deg); 	/* Firefox */ -webkit-transform: rotate(180deg); /* Safari 和 Chrome */ -o-transform: rotate(180deg); }
.procurement .area .more:hover { color: #fb8300; }
.procurement-product-list .row .col-md-4 nav p { display: inline-block; position: relative; top: -32px; left: 10px; }
.procurement-product-list .row table thead { background-color: #f3f3f3; }
.procurement-product-list{padding-left: 0px;}
/*找产品页面的css*/
